.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

*{
  font-family: 'Open Sans', sans-serif;
}
.card:hover {
  transform: scale(1.05); /* Increase the size of the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

.card {
  transition: transform 0.3s ease; /* Add a transition for the transform property */
}